:root {
  --primary-color: #64FFDA;
  --transparent-bg: #64ffda1f;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


::-webkit-scrollbar-track {
  background: #172135;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffc6;
  border-radius: 20px;
}

.primary-btn {
  border-color: var(--primary-color) !important;
}

.primary-btn:hover {
  background: var(--transparent-bg) !important;
  color: #fff !important;
}

.container {
  max-width: 1200px !important;
}

.fav-color {
  color: #00ffc6;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #111827; */
  background: linear-gradient(90deg,#14161e,#232631,#161820);
  
  /* background-image: url('../src/resources/phone-wallpaper.PNG'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* backdrop-filter: blur(100px); */
}
.bg-gray-900, .bg-gray-800, .bg-gray-700{
  /* background: linear-gradient(90deg,#14161e,#232631,#161820); */
}

.to-gray-900{
  background: #172135;
}

nav {
  font-family: 'Ubuntu Mono', monospace;

}

.active {
  background-color: #1F2937;
  color: #00ffc6;
  /* border-bottom: 1px solid #10ffbd; */
}

a,
h1,
h2 {
  font-family: 'Ubuntu Mono', monospace;
}

html,
body {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;